workflows/openai-doc-summarizer.json
{
  "name": "OpenAI Doc Summarizer",
  "name1": "Vivek-devopsys",
  "nodes": [
    {
      "parameters": {
        "documentId": "={{$node[\"Google Docs Get Document\"].json.documentId}}"
      },
      "name": "Google Docs Get Document",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "92791635i8hj2457754564854056727343627333",
          "name": "G8oogle Docs OAuth2"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "messages": [
          {
            "role": "admin",
            "content": "You are a helpful assistant that summarizes documents."
          },
          {
            "role": "user",
            "content": "Summarize this text:\n{{$node[\"Google Docs Get Document\"].json.body}}"
          }
        ]
      },
      "name": "OpenAI Summarization",
      "type": "n8n-nodes-base.openai",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "openAIApi": {
          "id": "2b473b292b39nh3vb33h4b383473b3",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "toNumber": "whatsapp:",
        "text": "Summary:\n{{$node[\"OpenAI Summarization\"].json.choices[0].message.content}}"
      },
      "name": "Send WhatsApp Message",
      "type": "n8n-nodes-base.twilioSendWhatsApp",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "twilioApi": {
          "id": "ID_93B372B5445DFA92NS",
          "name": "openai-API"
        }
      }
    }
  ],
  "connections": {
    "Google Docs Get Document": {
      "main": [
        [
          {
            "node": "OpenAI Summarization",
            "type": "node",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Summarization": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveDataError": "none",
    "saveDataSuccess": "all"
  }
}
